<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}CATEGORY{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/title-nav.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="icon" href="//bizweb.dktcdn.net/100/363/455/themes/918830/assets/favicon.png?1749199488894"
        type="images">
    {% block extra_stylesheets %}{% endblock %}
</head>

<body>
    <header>
        <div id="nav">
            <div id="nav-content">
                <div id="nav-left">
                    <div id="logo"><a href="{{ url_for('index')}}"><img
                                src="{{url_for('static', filename='images/Logo.jpg')}}" alt=""></a>
                    </div>
                </div>
                <div id="nav-center">
                    <ul id="nav-center-content">
                        <li class="nav-center-items"><a href="{{ url_for('index')}}">Trang chủ</a></li>
                        <li class="nav-center-items"><a href="{{ url_for('news' )}}">Tin sách</a></li>
                        <li class="nav-center-items dropdown">
                            <a href="#">Sách nhã nham <i class="ri-arrow-down-s-line"></i></a>
                            <div class="mega-menu">
                                <div class="mega-column">
                                    <a href="{{ url_for('category', category='hu-cau')}}" class="menu-title">Hư cấu</a>
                                    <a href="{{ url_for('category', category='van-hoc-hien-dai')}}">Văn học hiện đại</a>
                                    <a href="{{ url_for('category', category='van-hoc-kinh-dien')}}">Văn học kinh
                                        điển</a>
                                    <a href="{{ url_for('category', category='lich-su')}}">Văn học thiếu
                                        nhi</a>
                                    <a href="{{ url_for('category', category='lang-man')}}">Lãng mạn</a>
                                    <a href="{{ url_for('category', category='ky-ao')}}">Kỳ ảo</a>
                                    <a href="{{ url_for('category', category='trinh-tham-kinh-di')}}">Trinh thám -
                                        Kinh dị</a>
                                    <a href="{{ url_for('category', category='vien-tuong')}}">Khoa học viễn
                                        tưởng</a>
                                    <a href="{{ url_for('category', category='phieu-luu-ly-ky')}}">Phiêu lưu ly kỳ</a>
                                    <a href="{{ url_for('category', category='tan-van')}}">Tản văn</a>
                                    <a href="{{ url_for('category', category='truyen-tranh-graphic-novel')}}">Truyện
                                        tranh (graphic novel)</a>
                                    <a href="{{ url_for('category', category='tho-kich')}}">Thơ - Kịch</a>
                                    <a href="{{ url_for('category', category='light-novel')}}">Light novel</a>
                                    <a href="{{ url_for('category', category='sach-to-mau')}}">Sách tô màu</a>
                                </div>
                                <div class="mega-column">
                                    <a href="{{ url_for('category', category='phi-hu-cau')}}" class="menu-title">Phi hư
                                        cấu</a>
                                    <a href="{{ url_for('category', category='triet-hoc')}}">Triết học</a>
                                    <a href="{{ url_for('category', category='lich-su-1')}}">Sử học</a>
                                    <a href="{{ url_for('category', category='khoa-hoc')}}">Khoa học</a>
                                    <a href="{{ url_for('category', category='kinh-doanh')}}">Kinh doanh</a>
                                    <a href="{{ url_for('category', category='ky-nang')}}">Kỹ năng</a>
                                    <a href="{{ url_for('category', category='nghe-thuat')}}">Nghệ thuật</a>
                                    <a href="{{ url_for('category', category='nuoi-day-con')}}">Nuôi dạy con</a>
                                    <a href="{{ url_for('category', category='tam-ly-hoc')}}">Tâm lý học</a>
                                    <a href="{{ url_for('category', category='y-hoc-suc-khoe')}}">Y học - Sức khỏe</a>
                                </div>
                                <div class="mega-column">
                                    <a href="{{ url_for('category', category='thieu-nhi')}}" class="menu-title">Thiếu
                                        nhi</a>
                                    <a href="{{ url_for('category', category='0-5-tuoi')}}">0-5 tuổi</a>
                                    <a href="{{ url_for('category', category='6-8-tuoi')}}">6-8 tuổi</a>
                                    <a href="{{ url_for('category', category='9-12-tuoi')}}">9-12 tuổi</a>
                                    <a href="{{ url_for('category', category='13-15-tuoi')}}">13-15 tuổi</a>
                                </div>
                                <div class="mega-column">
                                    <a href="{{ url_for('category', category='phan-loai-khac')}}"
                                        class="menu-title">Phân loại khác</a>
                                    <a href="{{ url_for('category', category='sach-ban-chay')}}">Sách bán chạy</a>
                                    <a href="{{ url_for('category', category='sach-moi-xuat-ban')}}">Sách mới xuất
                                        bản</a>
                                    <a href="{{ url_for('category', category='sach-sap-xuat-ban')}}">Sách sắp xuất
                                        bản</a>
                                    <a href="{{ url_for('category', category='sach-duoc-giai-thuong')}}">Sách được giải
                                        thưởng</a>
                                    <a href="{{ url_for('category', category='sach-pop-up-lift-the-flaps')}}">Pop-up,
                                        lift-the-flaps</a>
                                    <a href="{{ url_for('category', category='sach-chu-de-dong-duong')}}">Nghiên cứu
                                        Việt
                                        Nam</a>
                                    <a href="{{ url_for('category', category='tac-gia-viet-nam')}}">Tác giả Việt Nam</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-center-items"><a href="{{ url_for('authors') }}">Tác giả</a></li>
                        <li class="nav-center-items"><a href="#">Cuộc thi</a></li>
                        <li class="nav-center-items"><a href="#">Về Nhà Làm</a></li>
                        <li class="nav-center-items"><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div id="nav-right">
                    <div id="account"><a href="#"><i class="ri-account-circle-line" style="font-size: 24px;"></i></a>
                        <div class="dropdown-menu">
                            {% if not user %}
                            <a href="{{ url_for('login') }}">Đăng nhập</a>
                            <a href="{{ url_for('register') }}">Đăng ký</a>
                            {% else %}
                            <a href="{{ url_for('logout') }}">Thoát</a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="shopping-cart"><a href="{{ url_for('cart') }}"><i class="ri-shopping-bag-line"
                                style="font-size: 24px;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div id="footer-content-one">
            <div id="footer-content-one-box">
                <div id="footer-content-one-left">
                    <img src="/images/facebook-icon.webp" alt="">
                    <img src="/images/instagram-icon.webp" alt="">
                    <img src="/images/lazada-icon.webp" alt="">
                    <img src="/images/shopee-icon.webp" alt="">
                    <img src="/images/tiktok-icon.webp" alt="">
                </div>
                <div id="footer-content-one-right">
                    <p>Nhận thông tin khuyến mãi từ chúng tôi</p>
                    <form class="subscribe-form">
                        <input type="email" placeholder="Nhận email ưu đãi" required>
                        <button type="submit">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer-content-two">
            <div id="footer-content-two-box">
                <div class="footer-content-two-box">
                    <div class="title-footer-content-two-box"><a href="">LIÊN HỆ SÁCH NHÃ NHAM</a></div>
                    <p class="content-footer-content-two-box"><i class="ri-map-pin-line"></i> <a href="">Số 59, Đỗ
                            Quang, Trung Hoà, Cầu Giấy, Hà Nội.</a></p>
                    <p class="content-footer-content-two-box"><i class="ri-mail-send-line"></i> <a
                            href="">info@nhanam.vn</a></p>
                    <p class="content-footer-content-two-box"><i class="ri-phone-line"></i> <a href="">02435146876</a>
                    </p>
                    <p class="content-footer-content-two-box"><i class="ri-smartphone-line"></i> <a
                            href="">02435146875</a></p>

                </div>
                <div class="footer-content-two-box">
                    <div class="title-footer-content-two-box"><a href="">GIỚI THIỆU</a></div>
                    <p class="content-footer-content-two-box"><a href="">Về Nhã Nam</a></p>
                    <p class="content-footer-content-two-box"><a href="">Hệ thống hiệu sách</a></p>
                    <p class="content-footer-content-two-box"><a href="">Hệ thống phát hành</a></p>
                    <p class="content-footer-content-two-box"><a href="">Tuyển dụng</a></p>
                    <p class="content-footer-content-two-box"><a href="">Liên hệ với chúng tôi</a></p>
                </div>
                <div class="footer-content-two-box">
                    <div class="title-footer-content-two-box"><a href="">CHÍNH SÁCH</div>
                    <p class="content-footer-content-two-box"><a href="">Chính sách bảo mật</p>
                    <p class="content-footer-content-two-box"><a href="">Chính sách đổi trả/hoàn tiền</p>
                    <p class="content-footer-content-two-box"><a href="">Chính sách thanh toán/ vận chuyển</p>
                </div>
                <div class="footer-content-two-box">
                    <div class="title-footer-content-two-box"><a href="">PHƯƠNG THỨC THANH TOÁN</a>
                        <img src="images/pay.webp" alt="">
                        <img src="images/bocongthuong.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>