#section-two {
  width: 1270px;
  height: 306px;
  margin: 30px auto;
  border-top: green 2px solid;
}

#section-two-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#section-two-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 100%;
}

.tac-gia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tac-gia p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.tac-gia p:hover {
  color: green;
}

#section-two-content a {
  color: black;
  text-decoration: none;
}

.tac-gia img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
  vertical-align: middle;
}

#section-two-title-one {
  font-size: 28px;
  font-weight: bold;
  color: green;
}

#section-two-title-two {
  font-size: 15px;
  color: green;
  font-weight: bold;
}
