#section-seven {
  width: 1270px;
  height: 306px;
  margin: 30px auto;
  border-top: green 2px solid;
}

#section-seven-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#section-seven-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 100%;
}

.Partner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Partner img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(244, 244, 244);
  object-fit: contain;
}

#section-seven-title-one {
  font-size: 28px;
  font-weight: bold;
  color: green;
}

#section-seven-title-two {
  font-size: 15px;
  color: green;
  font-weight: bold;
}
