#section-three {
  width: 1270px;
  height: 414px;
  margin: 30px auto;
  border-top: green 2px solid;
}

#section-three-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#new-book-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 25px;
}

.new-book {
  width: 230px;
  height: 245px;
  display: flex;
  flex-direction: column;
}

#img-new-book {
  flex: 1;
  width: 100%;
  height: 100%;
}

#img-new-book img {
  display: block;
  margin: auto;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#price-new-book {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#new-book-title {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

#section-three-title-one {
  font-size: 28px;
  font-weight: bold;
  color: green;
}

#section-three-title-two {
  font-size: 15px;
  color: green;
  font-weight: bold;
}

#price-special {
  text-align: center;
  width: 196px;
}

#price-special,
#price {
  font-size: 18px;
  font-weight: bold;
  color: green;
}

#price-sale {
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
}
